<div class="container my-4 px-4">
  <h2 class="mb-2">Census AI</h2>
  <p class="text-secondary mb-4">Your global poll assistant</p>

    <%= button_to "→ See what's trending", conversations_path,
        params: { intent: "trending" },
        class: "btn btn-outline-primary text-start w-100 mb-3",
        data: { turbo: false } %>

    <%= button_to "→ Help generate a poll", conversations_path,
        params: { intent: "generate" },
        class: "btn btn-outline-primary text-start w-100 mb-3",
        data: { turbo: false } %>

    <%= button_to "→ Help explore a poll", conversations_path,
        params: { intent: "explore" },
        class: "btn btn-outline-primary text-start w-100 mb-3",
        data: { turbo: false } %>

    <%= link_to root_path, class: "btn btn-outline-primary text-start w-100" do %>
      → Explore app options
    <% end %>
</div>
