.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bottom-nav-link .nav-pill {
  height: 3px;
  width: 28px;
  border-radius: 999px;
  background-color: transparent;
  margin-top: 2px;
}

.bottom-nav-link.active .nav-pill {
  background-color: #03C988;
}
