.polls-form { 
  border-radius: 12px;
  overflow: hidden;
  background: #19376D;
  box-shadow: 0 4px 15px rgba(139, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 20px;
  color:white;
}

.polls {
  border-radius: 10px;
  background-color: aqua;
  margin-top: 10px;
}
.polls:hover {
  transform: translateY(-4px);
  box-shadow: 25px 8px 25px rgb(95, 186, 223);
  background-color: rgb(47, 85, 199);
  color:black;
  }

.btn {
  border-radius: 10px;
  background-color: aqua;
  width: 50%;
  margin-top: 10px;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 25px 8px 25px rgb(95, 186, 223);
  background-color: rgb(47, 85, 199);
  color:black;
  }
