// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

$bg: #020B18;
$card: #19376D;
$accent: #FF204E;
$nav: #071E3D;
$green: #03C988;

body {
  background-color: $bg;
  color: white;
}
.text-muted {
  color: white;
}
.card {
  --bs-card-bg: transparent;
  overflow: hidden;
  border-radius: 12px;
  background-color: rgba(9, 18, 44, 0.5) !important;
  backdrop-filter: blur(18px) !important;
  -webkit-backdrop-filter: blur(18px) !important;
  border: 1px solid rgba(255, 255, 255, 0.08) !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5) !important;
  transition: transform 0.2s, box-shadow 0.2s;
  color: white;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.65) !important;
  }
}

.badge {
  background-color: $nav
}

.btn-success {
  background-color: $green !important;
  border-color: $green !important;
  color: white !important;
}

.btn-danger {
  background-color:#FF7A2F !important;
  border-color:#FF7A2F !important;
  color: white !important;
}

.progress {
  background-color: $bg;
  border: 0.5px solid $nav;
}

nav {
  background-color: $nav !important;

  a, i, span {
    color: white;
  }
}

.btn-outline-primary {
  border-color: $nav !important;
  color: white !important;
  background-color: $card !important;

  &:hover {
    background-color: $nav !important;
    color: white !important;
  }
}

.alert-info {
  background-color: $card;
  border-color: $nav;
  color: white;
}

input, textarea, select {
  background-color: $card !important;
  border-color: $nav !important;
  color: white !important;

  &::placeholder {
    color: #aaa !important;
  }
}

@keyframes waveAnim {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media(max-width: 576px) {
}

// <div class="container">
//   <div class="row justify-content-center">
//     <div class="col-12 col-lg-6">
//       <!-- This div is centered and takes 6 columns -->
//     </div>
//   </div>
// </div>
// .poll-card {
//   overflow: hidden;
//   border-radius: 14px;
//   background: rgba(255, 255, 255, 0.04);
//   backdrop-filter: blur(18px);
//   -webkit-backdrop-filter: blur(18px);
//   border: 1px solid rgba(255, 255, 255, 0.08);
//   color: white;
//   transition: transform 0.2s, background 0.2s, border-color 0.2s;

//   &:hover {
//     transform: translateY(-4px);
//     background: rgba(255, 255, 255, 0.08);
//     border-color: rgba(255, 255, 255, 0.15);
// //   }
// }
